<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-ng-app="expdMngtApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Homepage</title>
<link rel="icon" href="images/money-bag.png" />
<!-- External styles -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css" />
<!-- Internal Styles -->
<link rel="stylesheet" href="styles/index.css"/>

<!-- External Scripts -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<!-- Angular Material Library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>

<!-- 	Internal Scripts -->
<script src="scripts/app.js" th:href="@{/scripts/app.js}"></script>
<script src="scripts/index_controller.js"
	th:href="@{/scripts/index_controller.js}"></script>
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1342958,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</head>
<body data-ng-controller="indexController">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark  sticky-top">
		<a class="navbar-brand" href="#"><img src="images/money-bag.png"
			width="40" height="40" class="d-inline-block align-top" alt="" />Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<!-- <li class="nav-item active"><a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
				</a></li> -->
				<li class="nav-item"><a class="nav-link" href="#">Register</a></li>
				<li class="nav-item"><a class="nav-link " href="#">Login</a></li>
			</ul>
		</div>
	</nav>

	<md-content> 
		<div>Hi from vinay..</div>
		<md-card class="bg-secondary"> <md-card-title>
	<md-card-title-text>
	<div layout="row" layout-align="space-between center">
		<span class="md-headline text-light ml-md-5 ml-xs-1">About App</span> <img
			src="images/money-bag.png" class="rounded mr-md-5 mr-xs-1"
			style="width: 200px; height: 125px" />
	</div>
	</md-card-title-text> </md-card-title> <md-card-content class="text-light text-justify"> <md-card
		class="bg-info"> <md-card-title> <md-card-title-text>
	<span class="md-headline text-light">Reasons to build</span> </md-card-title-text> </md-card-title> <md-card-content
		class="text-light">
	<ul>
		<li>Improve my Web App building capability</li>
		<li>Use my knowledge and skills to bulid something which can be
			used by someone</li>
	</ul>
	</md-card-content> </md-card> <md-card class="bg-info"> <md-card-title> <md-card-title-text>
	<span class="md-headline text-light">Who can use</span> </md-card-title-text> </md-card-title> <md-card-content
		class="text-light">
	<p>App is usefull for students, bachelors or any people who are
		living in shared house, where every individual in a house has to
		maintain database of what all expenditures he/she has done on shared
		resources and settle the amount on equal basis at certain intervals of
		time(for eg, monthly, querterly, etc.,)</p>

	</md-card-content> </md-card> <md-card class="bg-info"> <md-card-title> <md-card-title-text>
	<span class="md-headline text-light">How to use</span> </md-card-title-text> </md-card-title> <md-card-content
		class="text-light">
	<ol type="1">
		<li>Registration
			<ul>
				<li>Any one individual from the group has to create a database
					where all expenditures are stored</li>
				<li>Then he has to share the database name with all the group
					members</li>
				<li>Now every group individual has to register for the
					application(For registration database name is required)</li>
			</ul>
		</li>
		<li>Login
			<ul>
				<li>Now member can login to the application using login
					credentials(credentials include database name)</li>
			</ul>
		</li>
		<li>Use
			<ul>
				<li>Now can add the expenditure</li>
				<li>Can see other members expenditures</li>
				<li>And some more operations are provided</li>
			</ul>
		</li>
	</ol>
	</md-card-content> </md-card> </md-card-content> </md-card> </md-content>

	<!--Footer-->
	<footer class="bg-dark footer">
		<div class="d-flex justify-content-center">
			<a href="https://www.linkedin.com/in/vinay-thimbali-k-v-b9827bba/"
				target="_blank" class="p-2"> <md-icon
					md-svg-src="images/linkedin.svg"></md-icon></a> <a
				href="https://www.facebook.com/vinay.kv.18" class="p-2"
				target="_blank"> <md-icon md-svg-src="images/facebook.svg"></md-icon></a>
			<a href="https://www.facebook.com/vinay.kv.18" target="_blank"
				class="p-2"> <md-icon md-svg-src="images/instagram.svg"></md-icon></a>
		</div>
		<p class="text-center text-light">© 2018 Copyright: vinay</p>
	</footer>
	<!--/.Footer-->

</body>
</html>
